@model IEnumerable<BookingHotel.Models.Hotel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/Site.css" rel="stylesheet" />

<div id="searchresults">
    <p>

    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    <a href='@Url.Action("Edit", new { id = item.ID })'><img class="button-logo" src="~/Pictures/edit2.png" /></a> |
                    <a href='@Url.Action("Details", new { id = item.ID })'><img class="button-logo" src="~/Pictures/details2.jpg" /></a>  |             
                    <a href='@Url.Action("Delete", new { id = item.ID })'><img class="button-logo" src="~/Pictures/delete2.png" /></a>
                </td>
            </tr>
        }
    </table>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
</div>
